    <app-navbar></app-navbar>
    <div class="container">
      <div class="col-md-12 d-flex mt-3">
        <span class="bg-danger p-2 ">Breaking New</span>
         <div id="carouselBreakingNew" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active ">
              teste
            </div>
            <div class="carousel-item">
              teste 2
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row" style="border: 1px solid white;">
        <div class="col-md-6"  style="border: 1px solid rgb(131, 6, 6);">teste</div>
        <div class="col-md-3"  style="border: 1px solid rgb(12, 216, 46);">teste</div>
        <div class="col-md-3"  style="border: 1px solid rgb(21, 201, 247);">teste</div>
        <div class="col-md-12">Propaganda</div>
      </div>
    </div>